
<nav class="navbar navbar-dark bg-dark">
  <div class=" px-5 container">
    <a href="/" class="navbar-brand">Contatos</a>

    <ul class="nav text-light">
      <% if (user) { %>
        <li class="nav-item text-light">
          <a class="nav-link" href="/contato/">Cadastrar contato</a>
        </li>

        <li class="nav-item text-light">
          <a class="nav-link" href="/login/logout">Sair</a>
        </li>
        <% } else {%>
        <li class="nav-item text-light">
          <a class="nav-link" href="/login/">Entrar</a>
        </li>
        <% } %>
     
    </ul>
  </div>
</nav>